.download-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .inputs {
            h1 {
                margin: 0;
                color: #fff;
                font-size: 16px;
                margin-bottom: 5px;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            .sessionid-input {
                background-color: rgba($color:#000, $alpha: 0.3);
                border: none;
                height: 23px;
                width: 280px;
                border-bottom: 2px solid #ff5722;
                color: #fff;
                padding: 5px 10px;
                font-size: 16px;
                border-radius: 4px;
            }

            margin-bottom: 20px;
        }

        .btn-wrapper {
            width: 300px;

            .download-btn {
                border-radius: 4px;
                width: 100%;
                height: 25px;
                color: #fff;
                background: #ff5722;
                border: none;
                cursor: pointer;
            }
        }
    }
}